workflows/live/webhook-echo.json
{
  "name": "Webhook Echo",
  "nodes": [
    {
      "id": "trigger",
      "name": "Webhook receiving JSON POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "echo-test",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "webhookId": "echo-test-id"
    },
    {
      "id": "step_1",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond_0",
              "leftValue": "={{ $json.body.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "cond_1",
              "leftValue": "={{ $json.body.value }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "cond_2",
              "leftValue": "={{ $json.body.value }}",
              "rightValue": "100",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "step_2",
      "name": "Build Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        750,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0",
              "name": "status",
              "value": "ok",
              "type": "string"
            },
            {
              "id": "a1",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "value",
              "value": "={{ $json.body.value }}",
              "type": "number"
            },
            {
              "id": "a3",
              "name": "received_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "step_3",
      "name": "Build Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        450
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "a1",
              "name": "message",
              "value": "Invalid input: name must be non-empty, value must be 0-100",
              "type": "string"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Webhook receiving JSON POST": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionTimeout": 30,
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}